// common-border.scss stylesheet

/* 공통 보더 사이즈 */
$border-size1: 1px;
$border-size2: 2px;
$border-size3: 3px;


/* 공통 보더 스타일 */
$border-style1: solid;
$border-style2: dotted;
$border-style3: dashed;
$border-style3: double;
$border-style4: groove;
$border-style5: ridge;
$border-style6: inset;
$border-style7: outset;
$border-style8: none;
$border-style9: hidden;
